/* GLOBAL STYLES */
body {
  background-color: #343741;
  background-image: url("../images/smBG-triangleGray.jpg");
  background-attachment: fixed;
}

/* TEXT STYLES */
p {
  font-size: 1.25em;
}

/* COLORS */
.text-white {
  color: #fff;
}
.text-darkgray {
  color: #626776;
}

/* BUTTONS */
.btn-outline-light:hover {
  color: #000;
}

/* IMAGE STYLES */
.smLogo {
  max-width: 400px;
}
.s2ImgContainer img {
  position: absolute;
  max-height: 300px;
  box-shadow: 5px 5px 25px rgba(0,0,0,.4);
}

/* CONTAINER STYLES */
#smNav {
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
}
#section2 {
  background-image: url("../images/smBG-triangleGray2.jpg");
  background-attachment: fixed;
}
.fullScreen {
  height: 100vh;
}
.smDivider {
  height: 1px;
  width: 100%;
  background-color: #bf0d3e;
}

/* ANIMATION STYLES */
.smAnim-bt-0-50 {
  position: relative;
  opacity : 0;
  top: 50px;
}
.smAnim-bt-1-50 {
  position: relative;
  opacity: 1;
  top: 50px;
}
.smAnim-tb-0-50 {
  position: relative;
  opacity : 0;
  bottom: 50px;
}
.smAnim-0 {
  position: relative;
  opacity: 0;
}
.smAnim-lr-0-300 {
  position: relative;
  opacity: 0;
  left: 300px;
}
.smAnim-lr-0-100 {
  position: relative;
  opacity: 0;
  left: 100px;
}
