/* TEXT STYLES */
p, ul {
  font-size: 1.25em;
}
ul {
  padding-left: 25px;
  line-height: 2;
}
.s3ImgContainer p:hover {
  cursor: pointer;
}
.s3ImgContainer p {
  margin-bottom: 0px;
  height: 50px;
}
a {
  color: #fdb515;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a:focus {
  outline: 0;
}
.smList li {
  position: relative;
}

/* COLORS */
.text-white {
  color: #fff;
}
.text-darkgray {
  color: #969eb4;
}
.text-smr {
  color: #bf0d3e;
}
.text-smb {
  color: #5bc6cc;
}
.text-smy {
  color: #fdb515;
}
.s5portBtn {
  opacity: 0;
  position: relative;
  z-index: 5;
  font-size: 1.5em;
}
.studentList, .parentList {
  position: relative;
  left: 22%;
  z-index: 5;
  display: none;
}
.studentList li, .parentList li {
  font-size: 1.5em;
  background-color: rgba(0,0,0,.5);
  position: relative;
  line-height: 2;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
}
.firstSL, .firstPL {
  position: absolute !important;
  width: 100% !important;
  background-color: rgba(0,0,0,0) !important;
  letter-spacing: 5px;
}

/* BUTTONS */
.btn-outline-light:hover {
  color: #000;
}
.btn-outline-smr {
  border-color: #bf0d3e;
  color: #bf0d3e;
}
.btn-outline-smr:hover {
  background-color: #bf0d3e;
  color: #fff;
}
.btn-outline-smy {
  border-color: #fdb515;
  color: #fdb515;
  background-color: transparent;
}
.btn-outline-smy:hover {
  background-color: #fdb515;
  color: #fff;
}
.btn-outline-light-25 {
  border-color: rgba(255,255,255,0.25);
  color: rgba(255,255,255,0.25);
}
.btn-outline-light-25:hover {
  border-color: rgba(255,255,255,1);
  color: rgba(255,255,255,1);
}

/* IMAGE STYLES */
.atiLogo {
  max-width: 300px;
  padding: 10px 0 10px 0;
  position: relative;
}
.laptopBG {
  background: url('../images/smCourses-bg.png') no-repeat center center;
}
.phoneBG {
  background: url('../images/smLM-bg.png') no-repeat center center;
  background-size: 40%;
  min-height: 500px;
}
.lmSS {
  max-width: 225px;
  position: relative;
  margin: 0 0 0 10px
}
.smLogo {
  max-width: 350px;
}
.s2Img {
  max-width: 100%;
  position: relative;
}
.s4Img {
  max-height: 345px;
  position: relative;
}
.s2car {
  bottom: 20px;
}
.carousel-control-prev {
  left: -75px;
}
.carousel-control-next {
  right: -75px;
}
.lmSS:hover {
  outline: 2px solid #fff;
}
.s3ImgContainer {
  min-height: 400px;
}
.s3ImgContainer img {
  position: absolute;
  -ms-transform: scale(0.7,0.7); /* IE 9 */
  -webkit-transform: scale(0.7,0.7); /* Safari */
  transform: scale(0.7,0.7);
  -webkit-filter: hue-rotate(-45deg); /* Safari */
  filter: hue-rotate(-45deg);
}
.s3imgGreen {
  -webkit-filter: hue-rotate(0deg) !important; /* Safari */
  filter: hue-rotate(0deg) !important;
}
.sicon {
  font-size: 3em;
}
.s4icon1 {
  color: #fdb515;
}
.s4icon2 {
  color: #fff;
}
.s4icon3 {
  color: #5bc6cc;
}
.s4icon4 {
  color: #bf0d3e;
}

/* CONTAINER STYLES */
#smNav {
  position: relative;
  top: 0px;
  text-align: center;
  width: 100%;
}
#bottomNav {
  position: fixed;
  bottom: 0;
  right: 0;
}
#section2 {
  background-image: url("../images/smBG-triangleGray3.jpg");
  background-attachment: fixed;
}
#section3 {
  background-image: url("../images/smBG-triangleGraySIS.jpg");
  background-attachment: fixed;
}
#section4 {
  background-image: url("../images/smBG-triangleGrayLMS.jpg");
  background-attachment: fixed;
}
#section5 {
  background-image: url("../images/smBG-triangleGrayPSP.jpg");
  background-attachment: fixed;
}
#section6 {
  background-image: url("../images/smBG-triangleGray2.jpg");
  background-attachment: fixed;
}
.fullScreen {
  height: 100vh;
}
@media only screen and (max-width: 668px) {
  .fullScreen {
    height: auto;
  }
}
.smDivider {
  height: 1px;
  width: 100%;
  background-color: #bf0d3e;
}
.s4box {
  padding-top: 15px;
}
.s4box:hover {
  outline: 1px solid #fff;
  cursor: pointer;
}
.s4box > a {
  color: #fff;
}
.s4box:hover > a {
  color: #fff;
}
.inlineBox {
  overflow: auto;
  background: rgba(255,255,255,0);
  padding: 20px;
  width: 750px;
  max-width: 100%;
  border-radius: 6px;
}
.portalParticle {
  width: 5px;
  height: 5px;
  top: 40%;
  left: 47%;
  background-color: #fff;
  position: absolute;
  /*-webkit-animation: scale 1s infinite linear;
  animation: scale 1s infinite linear;*/
  border-radius: 20px;
}
.smForm {
  width: 425px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.smSocialRow {
  position: relative;
  padding: 4px 8px 3px 8px;
  outline: 1px solid;
  margin-right: 10px;
}
.smSocialRow:hover {
  color: #fff !important;
  outline: 2px solid;
  bottom: -2px !important;
}

/* ANIMATION STYLES */
.smAnim-bt-0-50 {
  position: relative;
  opacity : 0;
  top: 50px;
}
.smAnim-bt-1-50 {
  position: relative;
  opacity: 1;
  top: 50px;
}
.smAnim-tb-0-50 {
  position: relative;
  opacity : 0;
  bottom: 50px;
}
.smAnim-0 {
  position: relative;
  opacity: 0;
}
.smAnim-lr-0-300 {
  position: relative;
  opacity: 0;
  left: 300px;
}
.smAnim-lr-0-100 {
  position: relative;
  opacity: 0;
  left: 100px;
}
@-webkit-keyframes scale {
		0% {
				-webkit-transform: scale(1,1);
        transform: scale(1,1);
		}
		50% {
				-webkit-transform: scale(1.5,1.5);
        transform: scale(1.5,1.5);
		}
    100% {
      -webkit-transform: scale(1,1);
      transform: scale(1,1);
    }
}

/* GLOBAL STYLES */
body {
  background-color: #343741;
  background-image: url("../images/smBG-triangleGray.jpg");
  background-attachment: fixed;
}
.abs {
  position: absolute;
}
.stopHover {
  pointer-events: none;
}
