/* TEXT STYLES */
p {
  font-size: 1.25em;
}
.s3ImgContainer p:hover {
  cursor: pointer;
}
.s3ImgContainer p {
  margin-bottom: 0px;
  height: 50px;
}

/* COLORS */
.text-white {
  color: #fff;
}
.text-darkgray {
  color: #757b8c;
}
.text-smr {
  color: #bf0d3e;
}

/* BUTTONS */
.btn-outline-light:hover {
  color: #000;
}
.btn-outline-smr {
  border-color: #bf0d3e;
  color: #bf0d3e;
}
.btn-outline-smr:hover {
  background-color: #bf0d3e;
  color: #fff;
}
.btn-outline-smy {
  border-color: #fdb515;
  color: #fdb515;
}
.btn-outline-smy:hover {
  background-color: #fdb515;
  color: #fff;
}
.btn-outline-light-25 {
  border-color: rgba(255,255,255,0.25);
  color: rgba(255,255,255,0.25);
}
.btn-outline-light-25:hover {
  border-color: rgba(255,255,255,1);
  color: rgba(255,255,255,1);
}

/* IMAGE STYLES */
.smLogo {
  max-width: 400px;
}
.s2ImgContainer img {
  position: absolute;
  max-height: 300px;
  box-shadow: 5px 5px 25px rgba(0,0,0,.4);
}
.s2ImgContainer img:hover {
  outline: 2px solid #fff;
}
.s3ImgContainer {
  min-height: 450px;
}
.s3ImgContainer img {
  position: absolute;
  -ms-transform: scale(0.7,0.7); /* IE 9 */
  -webkit-transform: scale(0.7,0.7); /* Safari */
  transform: scale(0.7,0.7);
  -webkit-filter: hue-rotate(-45deg); /* Safari */
  filter: hue-rotate(-45deg);
}
.s3imgGreen {
  -webkit-filter: hue-rotate(0deg) !important; /* Safari */
  filter: hue-rotate(0deg) !important;
}

/* CONTAINER STYLES */
#smNav {
  position: absolute;
  top: 0px;
  text-align: center;
  width: 100%;
}
#bottomNav {
  position: fixed;
  bottom: 0;
  right: 0;
}
#section2 {
  background-image: url("../images/smBG-triangleGray3.jpg");
  background-attachment: fixed;
}
#section3 {
  background-image: url("../images/smBG-triangleGraySIS.jpg");
  background-attachment: fixed;
}
.fullScreen {
  height: 100vh;
}
.smDivider {
  height: 1px;
  width: 100%;
  background-color: #bf0d3e;
}

/* ANIMATION STYLES */
.smAnim-bt-0-50 {
  position: relative;
  opacity : 0;
  top: 50px;
}
.smAnim-bt-1-50 {
  position: relative;
  opacity: 1;
  top: 50px;
}
.smAnim-tb-0-50 {
  position: relative;
  opacity : 0;
  bottom: 50px;
}
.smAnim-0 {
  position: relative;
  opacity: 0;
}
.smAnim-lr-0-300 {
  position: relative;
  opacity: 0;
  left: 300px;
}
.smAnim-lr-0-100 {
  position: relative;
  opacity: 0;
  left: 100px;
}

/* GLOBAL STYLES */
body {
  background-color: #343741;
  background-image: url("../images/smBG-triangleGray.jpg");
  background-attachment: fixed;
}
.abs {
  position: absolute;
}
